/* noxtheme: Dracula - GTK 4.0 color overrides */

@define-color accent_color #bd93f9;
@define-color accent_bg_color #bd93f9;
@define-color accent_fg_color #282a36;

@define-color destructive_color #ff5555;
@define-color destructive_bg_color #ff5555;
@define-color destructive_fg_color #282a36;

@define-color success_color #50fa7b;
@define-color success_bg_color #50fa7b;
@define-color success_fg_color #282a36;

@define-color warning_color #f1fa8c;
@define-color warning_bg_color #f1fa8c;
@define-color warning_fg_color #282a36;

@define-color error_color #ff5555;
@define-color error_bg_color #ff5555;
@define-color error_fg_color #282a36;

@define-color window_bg_color #282a36;
@define-color window_fg_color #f8f8f2;

@define-color view_bg_color #21222c;
@define-color view_fg_color #f8f8f2;

@define-color headerbar_bg_color #282a36;
@define-color headerbar_fg_color #f8f8f2;
@define-color headerbar_border_color #44475a;
@define-color headerbar_backdrop_color #21222c;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.36);

@define-color sidebar_bg_color #21222c;
@define-color sidebar_fg_color #f8f8f2;
@define-color sidebar_backdrop_color #21222c;
@define-color sidebar_shade_color rgba(0, 0, 0, 0.25);

@define-color secondary_sidebar_bg_color #21222c;
@define-color secondary_sidebar_fg_color #f8f8f2;
@define-color secondary_sidebar_backdrop_color #21222c;
@define-color secondary_sidebar_shade_color rgba(0, 0, 0, 0.25);

@define-color card_bg_color #44475a;
@define-color card_fg_color #f8f8f2;
@define-color card_shade_color rgba(0, 0, 0, 0.36);

@define-color dialog_bg_color #282a36;
@define-color dialog_fg_color #f8f8f2;

@define-color popover_bg_color #44475a;
@define-color popover_fg_color #f8f8f2;

@define-color shade_color rgba(0, 0, 0, 0.36);
@define-color scrollbar_outline_color rgba(0, 0, 0, 0.5);

/* Scrollbar */
scrollbar slider {
  background-color: #6272a4;
  border-radius: 9999px;
  min-width: 8px;
  min-height: 8px;
}

scrollbar slider:hover {
  background-color: #bd93f9;
}

/* Selection */
selection, *:selected {
  background-color: #44475a;
  color: #f8f8f2;
}
